*.iml
.idea/
*.ipr
*.iws
out/
.idea_modules/
.gradle
build/
gradle-app.setting
*.class
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
.vagrant
.tmp/
modules/
data
.DS_Store
id_rsa